extends layout

block content
    div(class="row")
     div(class="small-6 large-12 columns")
      h1.
       About NairobiGram
      p.
       NairobiGram is a real-time photo stream of <a href="http://instagram.com" target="_blank">Instagram</a> users in Nairobi. It's a seamless flow of moments captured in the city. 
      p.
       Photos geo-tagged within Nairobi or just tagged 'Nairobi' will feature on the stream.
      p.
       Built by <a href="http://twitter.com/ishuah_" target="_blank">@ishuah_</a>
